<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><a href="/">TOP　ページに戻る</a></p>
    <h1>view</h1>
    <table border="1">
        <thead>
            <th>Port Number</th>
            <th>Port Name</th>
        </thead>
        <!-- {%  print( "lines = " , lines) %} -->
        {% for line in lines %}
        <tr>
            <td> {{line[0]}} </td>
            <td> {{line[1]}} </td>
        </tr>
        {% endfor %}
    </table>
 


</body>
</html>