<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{{ url_for( 'static', filename='style.css')}}">
	<style>
		header>div{
			display: inline-block;
			width: 100%;
			text-align: left;
			border: solid 1px black;

		}

	</style>
</head>
<body>
	<header>
		<div><a href="/">Goto TopPage.</a></div>
	</header>
	<main>
		<h1>DBの初期化</h1>
		<div>
			<div></div>
		</div>

	</main>
</body>
</html>