<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for( 'static', filename='style.css')}}">
	<title>Document</title>

</head>
<body>
	<header>
		<div><a href="/">Goto TopPage.</a></div>
	</header>
	<main>
		<h1>DBの初期化</h1>
		<div>
			<div class="divItem"><a href="/dbInitialize/" class="AItem">databaseの初期化</a></div>
			<div class="divItem"><a href="/dbInitializeInsertDummyData/">ダミーデータの挿入</a></div>
		</div>

		<p> {{msg}} </p>
	</main>
</body>
</html>