<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{{url_for( 'static', filename='style.css')}}">

</head>
<body>
	<header>
		<div><a href="/">Goto TopPage.</a></div>
	</header>
	<!-- 7月5日以下の修正箇所 -->
	<main>
		<form action="/dbUpdate/" method="post">
			<div>
				<label for="namae">学籍番号</label>
				<input type="text" name="namae">
			</div>
			<div>
				<label for="simei">氏名</label>
				<input type="text" name="simei">
			</div>
			<div>
				<label for="year">生まれた年</label>
				<input type="text" name="year">
			</div>
			<input type="submit" value="更新">
		</form>
	
	</main>
	<p>{{msg}}</p>	
</body>
</html>