<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for( 'static', filename='style.css')}}">
    <title>Document</title>
</head>

<body>
    <h1>クラスの名簿DB</h1>
    <div>
        <div class="divItem"><a href="/dbInit/" class="AItem">データベースの初期化</a></div>
        <div class="divItem"><a href="/dbView/" class="AItem">クラスの名簿の表示</a></div>
        <div class="divItem"><a href="/dbAppend/" class="AItem">クラスの名簿の追加</a></div>
        <div class="divItem"><a href="/dbDelete/" class="AItem">クラス名簿からの削除</a></div>
        <div class="divItem"><a href="/dbUpdate/" class="AItem">クラス名簿の更新</a></div>
    </div>

</body>
</html>