<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form action="/view/" method="POST">
		<input type="submit" value="DBの表示">
	</form>
	<form action="/init/" method="POST">
		<input type="submit" value="DBの表示">
	</form>
	<form action="/append/" method="POST">
		<input type="submit" value="DBの表示">
	</form>

	<p>{{msg}}</p>
</body>
</html>