<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		form{
			border: solid 1px black;
			padding: 5px;
		}
	</style>
</head>
<body>
	
	<form action="/showDB/" method="post">
		<div>
			<input type="submit" value="データベースの内容表示">
		</div>
	</form>
	<form action="/initDB/" method="POST">
		<div>
			<input type="submit" value="データベースの初期化">
		</div>
	</form>
	<form action="/entry/" method="post">
		<div>
			<label for="uid">uid:</label>
			<input type="text" name="uid">
		</div>
		<div>
			<label for="password">password:</label>
			<input type="text" name="password">
		</div>
		<div>
			<input type="submit" value="データ登録">
		</div>
	</form>

	<p>{{msg}}</p>
</body>
</html>